/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';



::-webkit-scrollbar {
    width: 10px; 
 }

::-webkit-scrollbar-track {
  background-color: rgb(248, 245, 245);

}

::-webkit-scrollbar-thumb {
  background: #6c0ede;
  outline: 1px solid slategray;
  
}

::-webkit-scrollbar-thumb:hover{
    background: #0e1cde;
    
    
  }
  
